<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tm.common.base.mapper.ApiIpPortConfigMapper" >
  <resultMap id="BaseResultMap" type="com.tm.common.base.model.ApiIpPortConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="VARCHAR" />
    <result column="env_id" property="envId" jdbcType="INTEGER" />
    <result column="env_name" property="envName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_user" property="lastModifyUser" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, url, ip, port, status, env_id, add_time, add_user, last_modify_time, last_modify_user
  </sql>

  <select id="selectByUrlAndEnvId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from api_ip_port_config
    where 1=1
    and url=#{url,jdbcType=VARCHAR}
    and env_id=#{envId,jdbcType=INTEGER}
    and status=0
  </select>

  <select id="selectByEnvId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from api_ip_port_config
    where 1=1
    and env_id=#{envId,jdbcType=INTEGER}
    and status=0
  </select>



  <update id="batchInsert" parameterType="com.tm.common.base.model.ApiIpPortConfig">
    INSERT INTO api_ip_port_config
    (id, name, url, ip, port, status, env_id, add_time, add_user)
    VALUES
    <foreach collection ="apiIpPortConfigs" item="item" separator =",">
      (null, #{item.name}, #{item.url}, #{item.ip}, #{item.port}, #{item.status}, #{item.envId}, #{item.addTime}, #{item.addUser})
    </foreach >
  </update>

</mapper>