<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tm.common.base.mapper.CaseExecuteResultMapper" >
    <resultMap id="BaseResultMap" type="com.tm.common.base.model.CaseExecuteResult" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="plan_result_id" property="planResultId" jdbcType="INTEGER" />
        <result column="case_id" property="caseId" jdbcType="INTEGER" />
        <result column="group_no" property="groupNo" jdbcType="INTEGER" />
        <result column="group_name" property="groupName" jdbcType="VARCHAR" />
        <result column="start_timestamp" property="startTimestamp" jdbcType="INTEGER" />
        <result column="end_timestamp" property="endTimestamp" jdbcType="INTEGER" />
        <result column="result_status" property="resultStatus" jdbcType="INTEGER" />
        <result column="seq" property="seq" jdbcType="INTEGER" />
        <result column="worker_ip" property="workerIp" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="result_info" property="resultInfo" jdbcType="VARCHAR" />
        <result column="error_step_key" property="errorStepKey" jdbcType="VARCHAR" />
        <result column="steps" property="steps" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByPlanResultIdCaseIdAndGroupNo" resultMap="BaseResultMap" parameterType="com.tm.common.entities.base.CommonTableQueryBody">
        select
               *
        from case_execute_result_${tableSuffix}
        where
              plan_result_id=#{planResultId,jdbcType=INTEGER}
          and case_id=#{caseId,jdbcType=INTEGER}
          and group_no=#{groupNo,jdbcType=INTEGER}
    </select>

    <insert id="insertBySelective"
            parameterType="com.tm.common.base.model.CaseExecuteResult"
            useGeneratedKeys="true" keyProperty="id">
        insert into case_execute_result_${tableSuffix}
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="planResultId != null" >
                plan_result_id,
            </if>
            <if test="caseId != null" >
                case_id,
            </if>
            <if test="groupNo != null" >
                group_no,
            </if>
            <if test="groupName != null" >
                group_name,
            </if>
            <if test="startTimestamp != null" >
                start_timestamp,
            </if>
            <if test="endTimestamp != null" >
                end_timestamp,
            </if>
            <if test="resultStatus != null" >
                result_status,
            </if>
            <if test="seq != null" >
                seq,
            </if>
            <if test="workerIp != null" >
                worker_ip,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="resultInfo != null" >
                result_info,
            </if>
            <if test="errorStepKey != null" >
                error_step_key,
            </if>
            <if test="steps != null" >
                steps,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="planResultId != null" >
                #{planResultId,jdbcType=INTEGER},
            </if>
            <if test="caseId != null" >
                #{caseId,jdbcType=INTEGER},
            </if>
            <if test="groupNo != null" >
                #{groupNo,jdbcType=INTEGER},
            </if>
            <if test="groupName != null" >
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="startTimestamp != null" >
                #{startTimestamp,jdbcType=INTEGER},
            </if>
            <if test="endTimestamp != null" >
                #{endTimestamp,jdbcType=INTEGER},
            </if>
            <if test="resultStatus != null" >
                #{resultStatus,jdbcType=INTEGER},
            </if>
            <if test="seq != null" >
                #{seq,jdbcType=INTEGER},
            </if>
            <if test="workerIp != null" >
                #{workerIp,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="resultInfo != null" >
                #{resultInfo,jdbcType=VARCHAR},
            </if>
            <if test="errorStepKey != null" >
                #{errorStepKey,jdbcType=VARCHAR},
            </if>
            <if test="steps != null" >
                #{steps,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateBySelective" parameterType="com.tm.common.base.model.CaseExecuteResult">
        update case_execute_result_${tableSuffix}
        <set >
            <if test="planResultId != null" >
                plan_result_id = #{planResultId,jdbcType=INTEGER},
            </if>
            <if test="caseId != null" >
                case_id = #{caseId,jdbcType=INTEGER},
            </if>
            <if test="groupNo != null" >
                group_no = #{groupNo,jdbcType=INTEGER},
            </if>
            <if test="groupName != null" >
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="startTimestamp != null" >
                start_timestamp = #{startTimestamp,jdbcType=INTEGER},
            </if>
            <if test="endTimestamp != null" >
                end_timestamp = #{endTimestamp,jdbcType=INTEGER},
            </if>
            <if test="resultStatus != null" >
                result_status = #{resultStatus,jdbcType=INTEGER},
            </if>
            <if test="seq != null" >
                seq = #{seq,jdbcType=INTEGER},
            </if>
            <if test="workerIp != null" >
                worker_ip = #{workerIp,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="resultInfo != null" >
                result_info = #{resultInfo,jdbcType=VARCHAR},
            </if>
            <if test="errorStepKey != null" >
                error_step_key = #{errorStepKey,jdbcType=VARCHAR},
            </if>
            <if test="steps != null" >
                steps = #{steps,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="createCaseExecuteResultTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `case_execute_result_${tableSuffix}` (
            `id` int(11) NOT NULL AUTO_INCREMENT,
            `plan_result_id` int(11) DEFAULT NULL,
            `case_id` int(11) DEFAULT NULL,
            `group_no` int(11) DEFAULT NULL,
            `group_name` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
            `start_timestamp` bigint(20) DEFAULT NULL,
            `end_timestamp` bigint(20) DEFAULT NULL,
            `result_status` int(11) DEFAULT '1' COMMENT '1-执行中 2-执行成功（没有发生异常，断言都成功） 200-执行失败（发生异常或断言失败） 190-执行超时，强制结束 100-用户停止',
            `seq` int(11) DEFAULT '1',
            `worker_ip` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
            `name` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
            `description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
            `result_info` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
            `error_step_key` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
            `steps` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
            PRIMARY KEY (`id`),
            KEY `case_result_query_index` (`plan_result_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
    </update>



    <select id="queryList" parameterType="com.tm.common.entities.base.CommonTableQueryBody" resultMap="BaseResultMap">
        select
        *
        from case_execute_result_${tableSuffix}
        where 1=1 and plan_result_id = #{planResultId,jdbcType=INTEGER}
        <if test="filterConditionList != null and filterConditionList.size() > 0">
            and
            <if test="linkOperator == null or linkOperator == '' or linkOperator == 'and'">
                <foreach collection="filterConditionList" index="index" item="item" open="(" close=")" separator="and">
                    ${item.columnName} ${item.operator} #{item.value, jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="linkOperator != null and linkOperator == 'or'">
                <foreach collection="filterConditionList" index="index" item="item" open="(" close=")" separator="or">
                    ${item.columnName} ${item.operator} #{item.value, jdbcType=VARCHAR}
                </foreach>
            </if>
        </if>
        <if test="order != null and order != '' and sort != null and sort != ''">
            order by ${order} ${sort}, case_id asc, group_no asc
        </if>
        limit #{offset} , #{pageSize}
    </select>


    <select id="countList" parameterType="com.tm.common.entities.base.CommonTableQueryBody" resultType="java.lang.Integer">
        select
        count(*)
        from case_execute_result_${tableSuffix}
        where 1=1 and plan_result_id = #{planResultId,jdbcType=INTEGER}
        <if test="filterConditionList != null and filterConditionList.size() > 0">
            and
            <if test="linkOperator == null or linkOperator == '' or linkOperator == 'and'">
                <foreach collection="filterConditionList" index="index" item="item" open="(" close=")" separator="and">
                    ${item.columnName} ${item.operator} #{item.value, jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="linkOperator != null and linkOperator == 'or'">
                <foreach collection="filterConditionList" index="index" item="item" open="(" close=")" separator="or">
                    ${item.columnName} ${item.operator} #{item.value, jdbcType=VARCHAR}
                </foreach>
            </if>
        </if>
    </select>

</mapper>