<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tm.common.base.mapper.GlobalVariableMapper" >
    <resultMap id="BaseResultMap" type="com.tm.common.base.model.GlobalVariable" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="value" property="value" jdbcType="LONGVARCHAR" />
        <result column="modify_flag" property="modifyFlag" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByPrimaryId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select t1.*,t2.name, t2.description from global_variables t1, data_nodes t2 where t1.id=#{id,jdbcType=INTEGER} and t1.id=t2.id and t2.data_type_id=4
    </select>

    <insert id="insertBySelective"
            parameterType="com.tm.common.base.model.GlobalVariable"
            useGeneratedKeys="true" keyProperty="id">
        insert into global_variables
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="modifyFlag != null" >
                modify_flag,
            </if>
            <if test="value != null" >
                value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="modifyFlag != null" >
                #{modifyFlag,jdbcType=INTEGER},
            </if>
            <if test="value != null" >
                #{value,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateBySelective" parameterType="com.tm.common.base.model.GlobalVariable">
        update global_variables
        <set >
            <if test="modifyFlag != null" >
                modify_flag = #{modifyFlag,jdbcType=INTEGER},
            </if>
            <if test="value != null" >
                value = #{value,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>